<form class="" action="/reg_number" method="post">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="center-block">
        <label for="registrationNum">Registration Number
          <input type="text"class="form-control" id="registrationNum" name="regplate" value="">
        </label>
        <input type="submit" class="btn text-center" name="" value="Add">
      </div>
    </div>

</form>
<p id="numPlate">{{registrationNum}}</p>
