<form class="" action="/reg_number" method="post">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6 center-block">
      <label for="registrationNum">Registration Number
          <input type="text"class="form-control" id="registrationNum" name="regplate" value="">
        </label>
      <input type="submit" class="btn text-center" name="" value="Add">

    </div>
  </div>

</form>
<br>
{{#if messages.error }}
<div class="text-danger error text-center">
  {{messages.error}}
</div>
{{/if}}
<form class="form" action="/town" method="post">
  <div class="row">
    <div class="col-md-4"></div>
    <div id="radioBtns" class="btn-group">
      <label class="btn btn-primary">
        <input type="radio"  id="option1" name="town" value="CA"> Cape Town
      </label>
      <label class="btn btn-primary">
        <input type="radio"  id="option2" name="town" value="CY"> Bellville
      </label>
      <label class="btn btn-primary">
        <input type="radio"  id="option3" name="town" value="CK"> Malmersbury
      </label>
      <label class="btn btn-primary">
        <input type="radio"  id="option3" name="town" value="CJ"> Paarl
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="btn-group">
      <input type="submit" class="col-md-6 btn  text-center btn-md" name="" value="Show Town">
      <br>
      <a href="/reg_number"><input type="button" class="btn text-center btn-md" name="" value="Show All"></a>
    </div>
  </div>

</form>
<div class="regTable">
  {{#each registrationNum}}
  <p id="numPlate">{{regnum}}</p>
  {{/each}}
</div>
