html, body {
   background-color: #f4f7f8;
   margin: left;
   padding: 0;

 }
 .container {
  max-width: 500px;
  margin: 50px auto;
  padding: 0 10px;
  background-color: #14213D;
   border-style: solid;
  border-top-width: 5px;
  border-color: #14213D;
  border: 2px solid #FFF;
  border-radius: 10px;
  position: inherit;
  background-image: -webkit-linear-gradient(#90BFF0, #BC1324);

}

.places {
  margin: 50px auto;
  padding: 20px 0px 0px 0px;
  width: 50%;
  border-style: solid;
  border-top-width: 5px;
  border-color: #14213D;
  border: 2px solid #FFF;
  border-radius: 10px;
  background-color: #FFF;
  color: #FFF;
  background-image: -webkit-linear-gradient(#FFD194, #BC1324);

}
h1{
  text-align: center;
  color: firebrick;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  padding: 14px;

}
p {
  align-content:  center;
    margin: 0 auto;
  text-align-last: center;
  display: block;
  color: #FFF;
}
.error{
  color: #FFF;
  text-align-last: center;

}
.choose{
  align-content:  center;
  margin: 1.5% auto;
  text-align-last: center;
  display: block;
  color: #FFF;
}
h1{
  align-content:  center;
    margin: 5% auto;
  text-align-last: center;
  display: block;
  color: #FFF;
}
h2{
  margin: 1.5% auto;
  text-align: right;
  display: block;
  color: #FFF;
  font-size: 30px;
}
input[type='text'] {

  align-content:  center;
  width:225px;
  display: block;
  margin: 0% auto;
  resize: none;
  text-align: center;

}

input[type='submit'] {
  display: inline-block;
  width:100px;
  margin: 5% 40%;
  align: center;
  cursor: pointer;
  background-color: #BC1324;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 15px;
  padding: 7px;
  border-radius: 15px;
  background-image: -webkit-linear-gradient(#FFD194, #BC1324);
}
.radio{
  align-content:  center;
  display:inline;
  margin: 15% auto;
  width:20px;
  margin-left:135px;
}
.keepTrk{
    margin-right: 10px;
}
