html, body {
   background-color: #f4f7f8;
   margin: left;
   padding: 0;

 }
 .cover {
  width: 800px;
  margin: 50px auto;
  padding: 0 10px;
  background-color: #14213D;
   border-style: solid;
  border-top-width: 5px;
  border-color: #14213D;
  border: 2px solid #FFF;
  border-radius: 10px;
  position: inherit;
  background-image: -webkit-linear-gradient(#90BFF0, #BC1324);

}

h1{
  text-align: center;
  color: firebrick;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  padding: 14px;

}

.error{
  color: #FFF;
}

.choose{
  align-content:  center;
  margin: 1.5% auto;
  text-align-last: center;
  display: block;
  color: #FFF;
}
h1{
  align-content:  center;
    margin: 0 auto;
  text-align-last: center;
  display: block;
  color: #FFF !important;
}
h2{
  margin: 1.5% auto;
  text-align: right;
  display: block;
  color: #FFF;
  font-size: 30px;
}
input[type='text'] {
  width:260px;
  margin: 0 33%;

}

input[type='submit'] {
  display: inline-block;
  width:25%;
  margin: 5% auto;
}
.radio{
  align-content:  center;
  display:inline;
  margin: 15% auto;
  width:20px;
}
.keepTrk{
    margin-right: 40px;
    color: #fff !important;
}
p{
  color: #FFF;
  font-size: 40px;
}
