<h1>Greet Someone</h1>


<form class="" action="/greetings" method="post">
  <input type="text" name="user" placeholder="Type your name here">

 English<input type="radio" name="glan" value="Hello" checked>
 Afrikaans<input type="radio" name="glan" value="Hallo">
 IsiXhosa<input type="radio" name="glan" value="Molo">

  <input type="submit"  value="Greet Me">
</form>
<div class="greetMessage">

  <p>Hello, {{output}}</p>

</div>
