<h1>Greet Someone</h1>

<form class="" action="/greetings" method="post">
  <input type="text" name="user" placeholder="Type your name here">
  <input type="submit"  value="Greet">
</form>
<!-- <div class="greetMessage">

  {{#each myusers}}
  <p>Hello,{{user}}</p>
  {{/each}}
</div> -->
